body{
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(to right ,black,rgb(95, 87, 87),black );
            margin: 0;
            padding: 0;
}
.container{
            text-align: center;
            width: 300px;
            border-radius: 5px;
            height: 370px;
            background-color: rgb(255, 255, 255);
            position: relative;
            top: 100px;
            left: 38%;
            box-shadow: 2px 2px 5px 5px rgb(0, 0, 0);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}

.inputs{
            height: 36px;
            width: 230px;
            border: 1px solid black;
        
}
#bb{
            width:230px;
            height: 39px;
            cursor: pointer;
            border: none;
            color: white;
            background-color: rgb(0, 0, 0);
            border-radius: 2px;
            font-weight: bold;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            transition: 0.8s;

}
#bb:hover{
    background-color: rgb(18, 219, 18);
}
.sp{
            font-size: 17px;
        
}
.register{
            width: 100px;
            height: 35px;
            background-color: rgb(0, 0, 0);
            margin-right: 150px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 5px;
            font-weight: bold;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            position: relative;
            top: 70px;
            color: white;
            left: 10px;
            transition: 0.8s;
}
.register:hover{
    background-color: rgb(18, 219, 18);
}